<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.apps.nexuslauncher" platformBuildVersionCode="26" platformBuildVersionName="OMR1">
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <application android:backupAgent="com.android.launcher3.LauncherBackupAgent" android:backupInForeground="true" android:fullBackupContent="@xml/backupscheme" android:fullBackupOnly="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher_home" android:label="@string/app_name_pixel_launcher" android:largeHeap="@bool/config_largeHeap" android:restoreAnyVersion="true" android:supportsRtl="true">
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboard|keyboardHidden|navigation" android:enabled="true" android:launchMode="singleTask" android:name="com.google.android.apps.nexuslauncher.NexusLauncherActivity" android:resizeableActivity="true" android:resumeWhilePausing="true" android:screenOrientation="nosensor" android:stateNotNeeded="true" android:taskAffinity="" android:theme="@style/LauncherTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>
        <activity android:autoRemoveFromRecents="true" android:label="@string/settings_button_text" android:name="com.google.android.apps.nexuslauncher.SettingsActivity" android:theme="@android:style/Theme.DeviceDefault.Settings">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.nexuslauncher.search.AppLaunchActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.apps.nexuslauncher.search.APP_LAUNCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.android.search.suggest" android:scheme="content"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="@bool/enable_install_shortcut_api" android:name="com.google.android.apps.nexuslauncher.reflection.NewAppInstallReceiver$V21">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/notification_badging_enabled" android:name="com.google.android.apps.nexuslauncher.reflection.NewAppInstallReceiver$V26">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.LongClickReceiver"/>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.OPAStatusReceiver" android:permission="android.permission.CAPTURE_AUDIO_HOTWORD">
            <intent-filter>
                <action android:name="com.google.android.systemui.OPA_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.SetupWizardStartReceiver" android:permission="android.permission.REBOOT">
            <intent-filter>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_START"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.LauncherLayoutPreloadReceiver" android:permission="android.permission.REBOOT">
            <intent-filter>
                <action android:name="com.android.setupwizard.action.LOAD_LAUNCHER_LAYOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.WeatherUpdateReceiver" android:permission="android.permission.CAPTURE_AUDIO_HOTWORD">
            <intent-filter>
                <action android:name="com.google.android.apps.nexuslauncher.updateweather"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.smartspace.SmartspaceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.nexuslauncher.UPDATE_SMARTSPACE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.experiment.PhenotypeUpdateReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.phenotype.UPDATE"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.google.android.apps.nexuslauncher.settings" android:exported="true" android:name="com.android.launcher3.LauncherProvider" android:readPermission="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS" android:writePermission="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS"/>
        <provider android:authorities="com.google.android.apps.nexuslauncher.appssearch" android:exported="true" android:name="com.google.android.apps.nexuslauncher.search.AppSearchProvider"/>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml" android:resource="@xml/phenotype"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:label="@string/action_add_to_workspace" android:name="com.android.launcher3.dragndrop.AddItemActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.android.launcher3.dynamicui.ColorExtractionService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":wallpaper_chooser"/>
        <service android:exported="false" android:name="com.android.launcher3.compat.WallpaperManagerCompatVL$ColorExtractionService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":wallpaper_chooser"/>
        <service android:enabled="@bool/notification_badging_enabled" android:name="com.android.launcher3.notification.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <receiver android:enabled="@bool/enable_install_shortcut_api" android:name="com.android.launcher3.InstallShortcutReceiver" android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.SessionCommitReceiver">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <meta-data android:name="com.android.launcher3.launcher_dump_provider" android:value="com.android.launcher3.LauncherProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
    <permission android:description="@string/permdesc_read_settings" android:label="@string/permlab_read_settings" android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="normal"/>
    <permission android:description="@string/permdesc_write_settings" android:label="@string/permlab_write_settings" android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.google.android.apps.nexuslauncher.permission.QSB" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.QSB"/>
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:name="com.google.android.feature.PIXEL_EXPERIENCE" android:required="true"/>
    <permission android:description="@string/permdesc_install_shortcut" android:label="@string/permlab_install_shortcut" android:name="com.android.launcher.permission.INSTALL_SHORTCUT" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="dangerous"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>